 <ul id="menu">   
 <!-- Loop through the navigation items -->
 		<li>Pages<ul>
        {{#foreach navigation}}
		{{#if current}}
        <li><span class="bold">{{label}}</span></li>
		{{else}}
		<li><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{/if}}
        {{/foreach}}
        <!-- End the loop -->
		</ul>
		</li> 
 </ul> 
